m-legiscrawler-br{
  @font-color: #333;
  @grey-border: #ddd;
  a {
    color: @font-color;
  }
  .button {
    background-color: black;
  }
  // SEARCH BAR
  .search-bar {
    display: block;
    padding: 10px 10px 12px 10px;
    .search-input {
      height: 30px;
      width: ~"calc(100% - 20px)";
      border-radius: 5px;
      padding: 0 10px;
      background: #FFFFFF;
    }
  }
  .legislation-search-bar {
    display: block;
    padding: 10px 10px 12px 10px;
    .search-input {
      height: 30px;
      width: ~"calc(100% - 110px)";
      border-radius: 5px;
      padding: 0 10px;
      background: #FFFFFF;
    }
    .button-bar {
      margin: 0;
      padding: 0;
      float: left;
      display: block;
      .button {
        background-color: black;
        i {
          font-size: 10px;
        }
      }
    }
  }

  .style-card{
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    margin: 10px;
    padding: 10px 12px 12px 12px;
  }

  .list{
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    .item {
      .list-icon {
        font-size: 15px;
      }
    }
  }
  .legislation {
    padding: 3vw;
    .item {
      display: -webkit-box;
      -webkit-line-clamp:2;
      -webkit-box-orient: vertical;
      max-height: 5.8em; /* exactly two lines */
      height: auto;
    }
    .style-list{
      h1 {
        margin: 0;
      }
    }
    .style-card{
      h1 {
        border-bottom: 1px solid @grey-border;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.3em;
      color: #333;
      white-space: normal;
    }
  }
  .search {
    padding: 0;
    .item {
      padding: 3vw;
      h2, p {
        padding: 0;
        margin: 0;
        width: 94vw;
      }
      h2 {
        padding-bottom: 10px;
      }
      p {
        display: block;
        border-top: 1px solid #b2b2b2;
        padding: 5px 0;
      }
    }
  }
}
