m-legiscrawler-br{
  @font-color: #333;
  @grey-border: #ddd;
  a {
    color: @font-color;
  }
  .button {
    background-color: black;
  }
  // SEARCH BAR
  .search-bar {
    padding: 12px 10px;
    .search-input {
      height: 30px;
      border-radius: 5px;
      padding: 0 10px;
      background: #FFFFFF;
      width: ~"calc(100% - 20px)";
    }
    .button-bar {
      margin: 0;
      padding: 0;
      float: left;
      display: block;
      .button {
        background-color: black;
        i {
          font-size: 10px;
        }
      }
    }
  }
  .list-search-header {
    .search-input {
    }
  }
  .legislation-search-header {
    height: 50px;
    .search-input {
      width: ~"calc(100% - 110px)!important";
      float: left;
    }
    .action-buttons {
      display: block;
      float: left;
      background-color: white;
      border-radius: 5px;
      margin-left: 30px;
      .action-button {
        width: 30px;
        height: 30px;
        float: left;
        .icon {
          width: 30px;
          height: 25px;
          display: block;
          text-align: center;
          margin-top: 5px;
        }
      }
    }
  }
  .iframe-holder {
    background-color: white;
    padding: 0!important;
    top: 50px;
  }

  .style-card{
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    margin: 10px;
    padding: 10px 12px 12px 12px;
  }

  .list{
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    .item {
      .list-icon {
        font-size: 15px;
      }
    }
  }
  .search {
    padding: 0;
    .item {
      padding: 3vw;
      h2, p {
        padding: 0;
        margin: 0;
        width: 94vw;
      }
      h2 {
        padding-bottom: 10px;
      }
      p {
        display: block;
        border-top: 1px solid #b2b2b2;
        padding: 5px 0;
      }
    }
  }
}
